*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'PEB';
  src: url(/fonst/Poppins-ExtraBold.ttf);
}
.Main {
  max-width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Main .timer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main .timer span {
  font-size: 40px;
  font-family: 'PEB';
  color: #d6c7c7;
}
.Main .timer .box {
  width: 100px;
  height: 100px;
  margin: 0px 20px;
  background-color: #d6c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: 'PEB';
  border: 3px solid #696b69;
}
